{% extends "base.html" %}


{% block content %}

    <form class="secondary_input">
        
        <h3>Ввод данных</h3>
    
        <div class="input_columns">
    
            <div class="files_column">

                <div id="files_input">

                    <div class="file-input-group">
                        <div class="form_part">
    
                            <!-- dist -->
                            <div class="form-row">
                                <label for="distributor">* Дистрибьютор:</label>
                                <select name="distributor" required>
                                    <option value="" selected disabled hidden>Выберите дистрибьютора</option>
                                    {% for dist in distributors %}
                                        <option value="{{ dist }}">
                                            {{ dist }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            
                            <!-- name -->
                            <div class="form-row">
                                <label for="name_template">* Шаблон для наименований:</label>
                                <input type="text" name="name_template" placeholder="Введите шаблон" required>
                            </div>
    
                            <!-- region1 -->
                            <div class="form-row">
                                <label for="region1_template">* Шаблон для региона 1:</label>
                                <input type="text" name="region1_template" placeholder="Введите шаблон" required>
                            </div>
    
                            <!-- region2 -->
                            <div class="form-row">
                                <label for="region2_template">Шаблон для региона 2:</label>
                                <input type="text" name="region2_template" placeholder="Введите шаблон">
                            </div>
    
                            <!-- sales -->
                            <div class="form-row">
                                <label for="sales_template">* Шаблон для количества продаж:</label>
                                <input type="text" name="sales_template" placeholder="Введите шаблон" required>
                            </div>
    
                            <!-- clients -->
                            <div class="form-row">
                                <label for="client_template">Шаблон для покупателя:</label>
                                <input type="text" name="client_template" placeholder="Введите шаблон">
                            </div>
    
                            <!-- file -->
                            <div class="form-row">
                                <label for="file">* Файл:</label>
                                <input class="file_input" type="file" name="file" accept=".xlsx, .xls, .XLSX" required onchange="fileChanged(this)">
                                <div class="file_input_btn_div" onclick="fileInputClick(this)">Выбрать файл</div>
                                <span class="file_name_span">Файл не выбран</span>
                            </div>
    
                            <!-- page -->
                            <div class="form-row">
                                <label for="client_template">* Страница:</label>
                                <input type="text" name="sheet_index" value="0" placeholder="Введите номер страницы (от нуля)" required>
                            </div>
                            
                        </div>
                        <div class="remove_btn">
                            <button type="button" class="remove_form_group_button" onclick="removeFileInputGroup(this)">
                                <svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 -960 960 960" width="25px" fill="#fff">
                                    <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
                                </svg>
                            </button>
                        </div>
                    </div>

                </div>


                <div class="add_btn">
                    <button type="button" class="add-file-input-group-btn" onclick="addFileInput()">+</button>
                </div>

            </div>

            <div class="staff_column">

                <div id="staffs_input">

                    <div class="staff-input-group">
    
                        <div class="form_part">
    
                            <div class="form_rows">

                                <div class="form-row">
                                    <label for="staff">* ФИО</label>
                                    <input type="text" name="staff" placeholder="Мед.представитель" required>
                                </div>
        
                                <div class="form-row">
                                    <label for="group">* Группа</label>
                                    <select name="group" required>
                                        <option value="" selected disabled hidden>Выберите группу</option>
                                        {% for group in groups %}
                                            <option value="{{ group }}">
                                                {{ group }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
        
                                <div class="form-row">
                                    <label for="region">* Регион</label>
                                    <select name="region" required>
                                        <option value="" selected disabled hidden>Выберите регион</option>
                                        {% for region in regions %}
                                            <option value="{{ region }}">
                                                {{ region }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <button type="button" class="remove_region_btn" onclick="removeRegionInput(this)">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="12px" viewBox="0 -960 960 960" width="12px" fill="#fff">
                                            <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
                                        </svg>
                                    </button>
                                </div>
    
                            </div>
    
                            <div class="add_region_btn">
                                <button type="button" onclick="addRegion(this)">
                                    Добавить регион
                                </button>
                            </div>

                            <div class="save_checkbox">                                
                                <input type="checkbox" name="save_checkbox" value="save" checked>
                                <label for="save_checkbox">Сохранить</label>
                            </div>
    
    
                        </div>
    
                        <div class="remove_btn">
                            <button type="button" onclick="removeStaffInputGroup(this)">
                                <svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 -960 960 960" width="25px" fill="#fff">
                                    <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
                                </svg>
                            </button>
                        </div>
                    </div>

                </div>


                <div class="add_btn">
                    <button type="button" class="add-staff-input-group-btn" onclick="addStaffInputGroup()">+</button>
                </div>


            </div>
    
        </div>

        <div class="submit_btn">
            <button type="submit">
                Отправить
            </button>
        </div>

    </form>


    <script>

        function removeFileInputGroup(button) {
            const closestRemoveBtnDiv = button.parentElement;
            const closestFileInputGroup = closestRemoveBtnDiv.parentElement;
            const filesInput = closestFileInputGroup.parentElement;

            if(filesInput.querySelectorAll('.file-input-group').length > 1) {
                closestFileInputGroup.remove();
            }
        }

        function fileInputClick(inputBtnDiv) {
            const closestFormRow = inputBtnDiv.parentElement;
            const closestFileInput = closestFormRow.querySelector('.file_input');
            closestFileInput.click();
        }


        function fileChanged(fileInput) {
            const closestFormRow = fileInput.parentElement;
            const closestFileInput = closestFormRow.querySelector('.file_input');
            const closestFileNameSpan = closestFormRow.querySelector('.file_name_span');
            var fileName = closestFileInput.files.length > 0 ? 
                closestFileInput.files[0].name : "Файл не выбран";
            closestFileNameSpan.textContent = fileName;

        }


        function addFileInput() {

            const fileInput = document.getElementById("files_input");

            const newFileInputGroup = document.createElement('div')
            newFileInputGroup.className = 'file-input-group';
            newFileInputGroup.innerHTML = `
                <div class="form_part">
                    <div class="form-row">
                        <label for="distributor">* Дистрибьютор:</label>                        
                        <select name="distributor" required>
                            <option value="" selected disabled hidden>Выберите дистрибьютора</option>
                            {% for dist in distributors %}
                                <option value="{{ dist }}">
                                    {{ dist }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="form-row">
                        <label for="name_template">* Шаблон для наименований:</label>
                        <input type="text" name="name_template" placeholder="Введите шаблон" required>
                    </div>

                    <div class="form-row">
                        <label for="region1_template">* Шаблон для региона 1:</label>
                        <input type="text" name="region1_template" placeholder="Введите шаблон" required>
                    </div>

                    <div class="form-row">
                        <label for="region2_template">Шаблон для региона 2:</label>
                        <input type="text" name="region2_template" placeholder="Введите шаблон">
                    </div>

                    <div class="form-row">
                        <label for="sales_template">* Шаблон для количества продаж:</label>
                        <input type="text" name="sales_template" placeholder="Введите шаблон" required>
                    </div>
                    
                    <div class="form-row">
                        <label for="client_template">Шаблон для покупателя:</label>
                        <input type="text" name="client_template" placeholder="Введите шаблон">
                    </div>
                    
                    <div class="form-row">
                        <label for="file">* Файл:</label>
                        <input class="file_input" type="file" name="file" accept=".xlsx, .xls, .XLSX" required onchange="fileChanged(this)">
                        <div class="file_input_btn_div" onclick="fileInputClick(this)">Выбрать файл</div>
                        <span class="file_name_span">Файл не выбран</span>
                    </div>
                    
                    <div class="form-row">
                        <label for="client_template">* Страница:</label>
                        <input type="text" name="sheet_index" value="0" placeholder="Введите номер страницы (от нуля)" required>
                    </div>
                    
                </div>
                
                <div class="remove_btn">
                    <button type="button" class="remove_form_group_button" onclick="removeFileInputGroup(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 -960 960 960" width="25px" fill="#fff">
                            <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
                        </svg>
                    </button>
                </div>
            `;
            
            fileInput.appendChild(newFileInputGroup);
        }


        function removeRegionInput(button) {
            const parentFormRow = button.parentElement;
            const parentFormRowS = parentFormRow.parentElement;

            if(parentFormRowS.querySelectorAll('.form-row').length > 3) {
                parentFormRow.remove();                
            }

        }


        function addRegion(button) {
            const parentDiv = button.parentElement;
            const parentFormPart = parentDiv.parentElement;
            const formRowS = parentFormPart.querySelector('.form_rows');

            const newRegionInputFormRow = document.createElement('div');
            newRegionInputFormRow.className = 'form-row';

            newRegionInputFormRow.innerHTML = 
            `
                <label for="region">* Регион</label>
                <select name="region" required>
                    <option value="" selected disabled hidden>Выберите регион</option>
                    {% for region in regions %}    
                        <option value="{{ region }}">
                            {{ region }}
                        </option>
                    {% endfor %}
                </select>
                <button type="button" class="remove_region_btn" onclick="removeRegionInput(this)">
                    <svg xmlns="http://www.w3.org/2000/svg" height="12px" viewBox="0 -960 960 960" width="12px" fill="#fff">
                        <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
                    </svg>
                </button>            
            `;

            formRowS.appendChild(newRegionInputFormRow);

        }


        function removeStaffInputGroup(button) {
            const parentDiv = button.parentElement;
            const parentStaffInputGroup = parentDiv.parentElement;
            const parentStaffsInput = parentStaffInputGroup.parentElement;

            if(parentStaffsInput.querySelectorAll(".staff-input-group").length > 1) {
                parentStaffInputGroup.remove();
            }
        }

        function addStaffInputGroup() {
            newStaffInputGroup = document.createElement('div');
            newStaffInputGroup.className = "staff-input-group";

            newStaffInputGroup.innerHTML = `
                        <div class="form_part">
    
                            <div class="form_rows">

                                <div class="form-row">
                                    <label for="staff">* ФИО</label>
                                    <input type="text" name="staff" placeholder="Мед.представитель" required>
                                </div>
        
                                <div class="form-row">
                                    <label for="group">Группа</label>
                                    <select name="group" required>
                                        <option value="" selected disabled hidden>Выберите группу</option>
                                        {% for group in groups %}
                                            <option value="{{ group }}">
                                                {{ group }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
        
                                <div class="form-row">
                                    <label for="region">* Регион</label>
                                    <select name="region" required>
                                        <option value="" selected disabled hidden>Выберите регион</option>
                                        {% for region in regions %}
                                            <option value="{{ region }}">
                                                {{ region }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <button type="button" class="remove_region_btn" onclick="removeRegionInput(this)">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="12px" viewBox="0 -960 960 960" width="12px" fill="#fff">
                                            <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
                                        </svg>
                                    </button>
                                </div>
    
                            </div>
    
                            <div class="add_region_btn">
                                <button type="button" onclick="addRegion(this)">
                                    Добавить регион
                                </button>
                            </div>

                            <div class="save_checkbox">                                
                                <input type="checkbox" name="save_checkbox" value="save" checked>
                                <label for="save_checkbox">Сохранить</label>
                            </div>
    
    
                        </div>
    
                        <div class="remove_btn">
                            <button type="button" onclick="removeStaffInputGroup(this)">
                                <svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 -960 960 960" width="25px" fill="#fff">
                                    <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
                                </svg>
                            </button>
                        </div>
            `;

            staffsInput = document.getElementById("staffs_input");
            staffsInput.appendChild(newStaffInputGroup);
        }




    </script>



{% endblock %}